.bdgf .gfield {
    border:none;
    padding:0;
}

.bdgf .gform_wrapper .breakdance-form {
    grid-template-columns: repeat(1, 1fr);
}

.bdgf .gform-grid-row {
    display:flex;
    flex-direction: row;
    gap: var(--bde-form-gap);
    width: 100%;
}

.bdgf .gform-grid-row .gform-grid-col {
    flex: 1 1 0;
}

.bdgf .gform-grid-row .gform-grid-col--size-auto {
    flex: 1 1 auto;
}


.bdgf .gform_fields {
    display: flex;
    flex-direction: column;
    gap: var(--bde-form-gap);
}

.bdgf .gfield_visibility_hidden, 
.bdgf .gf_invisible {
    inset-inline-start: -9999px;
    position: absolute;
    visibility: hidden;
}

.bdgf .gform_validation_container {
    display:none !important;
}



.bdgf .gform_wrapper .gform_fields {
    display:grid;
    grid-column-gap:var(--bde-form-gap);
    grid-row-gap:var(--bde-form-gap);
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(auto fill, auto);
    width:100%;
}

.bdgf .gform_wrapper .gfield {
    grid-column-start: 1;
    grid-column-end: -1;
}

.bdgf .gform_wrapper .gfield.gfield--width-half {
    grid-column: span 6;
}


.bdgf .gform_wrapper .gfield.gfield--width-third {
    grid-column: span 4;
}

@media ( max-width:640px ) {
    .bdgf .gform_wrapper .gfield:not(.gfield--width-full){
        grid-column:1/-1;
    }
}