.breakdance {
  --gform-theme-font-size-primary: var(--bde-form-font-size);
  --gform-theme-padding-block: var(--bde-form-input-padding-top) var(--bde-form-input-padding-bottom);
}

.breakdance .bdgf {
    width: 100%;
}

.breakdance .bdgf .gform-body {
    position: relative;
}
.breakdance .bdgf .gform-grid-row {
    flex-direction: row;
    flex-wrap: nowrap;
}
.breakdance .bdgf .gfield_radio,
.breakdance .bdgf .gfield_checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.breakdance .bdgf .gform_footer,
.breakdance .bdgf .gform_page_footer {
  display: flex;
  align-items:center;
  gap: var(--bde-form-gap);
}
.breakdance .bdgf .gfield .small:not(.textarea) {
    width: 25%;
}
.breakdance .bdgf .gfield .medium:not(.textarea) {
    width: 50%;
}
.breakdance .bdgf .gfield .large:not(.textarea) {
    width: 100%;
}

.breakdance .bdgf .gfield .small.textarea {
    max-height:100px;
}

.breakdance .bdgf .gfield .medium.textarea {
    max-height:175px;
}

.breakdance .bdgf .ginput_container_address {
	display:grid;
  	grid-template-columns:repeat(11, 1fr);
}

.breakdance .bdgf .ginput_container_address .address_line_1,
.breakdance .bdgf .ginput_container_address .address_line_2 {
	grid-column-start:1;
    grid-column-end:12;
}

.breakdance .bdgf .ginput_container_address .address_city {
  grid-column-start:1;
  grid-column-end:6;
}

.breakdance .bdgf .ginput_container_address .address_state {
  grid-column-start:6;
  grid-column-end:9;
}

.breakdance .bdgf .ginput_container_address .address_zip {
  grid-column-start:9;
  grid-column-end:12;
}

.breakdance .bdgf .ginput_container_address .address_country {
  grid-column-start:6;
  grid-column-end:12;
}

.breakdance .bdgf .validation_message {
  margin-top:.5rem;
}

.breakdance .bdgf .gfield--type-radio .gchoice_other_control,
.breakdance .bdgf .gfield--type-choice .gchoice_other_control {
  margin-left:.5em;
}


.breakdance .bdgf .gfield_choice_all_toggle {
  margin-bottom: var(--bde-form-after-sublabel);
}


.breakdance .bdgf .gfield_list_icons { 
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.breakdance .bdgf .gfield_list_icons,
.breakdance .bdgf .gfield_header_item--icons {
  flex:1 1 1px;
}


@media (max-width:767px) {
.breakdance .bdgf .ginput_container_address .address_city {
  grid-column-end:8;
}
.breakdance .bdgf .ginput_container_address .address_state {
  grid-column-start:8;
  grid-column-end:12;
}
.breakdance .bdgf .ginput_container_address .address_zip {
  grid-column-start:1;
  grid-column-end:6;
}
}

.breakdance .bdgf .gform_confirmation_wrapper {
  display:block;
}

.breakdance .bdgf .gf_progressbar {
  background-color:var(--grey-300);
  overflow:hidden;
  height: 30px;
}

.breakdance .bdgf .gf_progressbar_percentage {
  background-color: var(--bde-brand-primary-color);
  color: var(--white);
  display:flex;
  align-items:center;
  justify-content:flex-end;
  padding: 0 .5rem;
  height: 100%;
}

.breakdance .bdgf .gf_page_steps {
  display:flex;
  width:100%;
  justify-content:space-between;
  position:relative;
  z-index:1;
}

.breakdance .bdgf .gf_page_steps:before {
  content:"";
  width:100%;
  position:absolute;
  z-index: -1;
  height: 1px;
  background-color: var(--grey-400);
  top:50%;
  bottom:0;
}

.breakdance .bdgf .gf_page_steps .gf_step {
  display:inline-flex;
  align-items:center;
  background-color: var( --bde-background-color );
  padding:0 .5rem;
}

.breakdance .bdgf .gf_page_steps .gf_step_first {
  padding-left:0;
}

.breakdance .bdgf .gf_page_steps .gf_step_last {
  padding-right:0;
}

.breakdance .bdgf .gf_page_steps .gf_step_number {
  background-color: var(--bde-brand-primary-color);
  color: var(--grey-50);
  border-radius:50%;
  line-height:1;
  font-size:1em;
  text-align:center;
  padding:1em;
  width: 1.4em;
  height: 1.4em;
  display:flex;
  justify-content:center;
  align-items:center;
}

.breakdance .bdgf .gf_page_steps .gf_step_label {
  margin-left: .5rem;
  font-size: .85em;
}

.breakdance .bdgf .gform_save_link svg {
  margin-right:4px;
  margin-left:4px;
}

.breakdance .bdgf h2.gform_submission_error {
  font-size: 1.3em;
  color: var(--red-500);
}

.breakdance .bdgf .gform_required_legend .breakdance-form-field__required {
  padding-left:0;
}

.breakdance .bdgf .gfield--type-fileupload .ginput_preview_list .ginput_preview {
  display:flex;
  flex-direction:row;
  gap:.5rem;
}

.breakdance .bdgf .gfield--type-fileupload .gfield_fileupload_filename {
  font-weight:bolder;
}


.breakdance .bdgf .gfield--type-fileupload .gform_drop_area {
  padding:1rem;
  border:1px solid var(--bde-form-input-border-color);
  display:flex;
  flex-direction:column;
  text-align:center;

}


/** GP Nested Form **/
.breakdance .bdgf .gpnf-nested-entries {
  width:100%;
  margin-bottom:var( --bde-form-gap );
}

.breakdance .bdgf .gform-theme--framework .gpnf-row-actions ul {
  gap: var( --bde-form-gap );
}

.gpnf-modal form {
  display:flex;
  width:100%;
}

.gpnf-modal form .gform-body {
  width:100%;
}